# 1. Data Wrangling (Titanic)
https://www.kaggle.com/c/titanic/overview

## ***1. Imports***
**Import _pandas_**

Pandas includes numpy as `np`, and it's convenient to have this available directly:

**Import the dataframe, read it into a Panda's DataFrames and assign it to df.**

**Data Dictionary**

|Variable|Definition|Key|
| --- | --- | --- |
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|sex|Sex||
|Age|Age in years||
|sibsp|# of siblings / spouses aboard the Titanic||
|parch|# of parents / children aboard the Titanic||
|ticket|Ticket number||
|fare|Passenger fare||
|cabin|Cabin number||
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|


**Variable Notes**  
pclass: A proxy for socio-economic status (SES)  
1st = Upper  
2nd = Middle  
3rd = Lower  

age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

sibsp: The dataset defines family relations in this way...  
Sibling = brother, sister, stepbrother, stepsister  
Spouse = husband, wife (mistresses and fianc√©s were ignored)

parch: The dataset defines family relations in this way...  
Parent = mother, father  
Child = daughter, son, stepdaughter, stepson  
Some children travelled only with a nanny, therefore parch=0 for them.

**Have a look at the first 5 rows of df using the head method**

**Have a look at the last 3 rows of df using the tail method**

**Using the _shape_ attribute, have a look at the diamensionality of the datasets.**

**Get the names of the columns and info about them (number of non null and type).**

**Use the describe method to see how the data is distributed (numerical features only!).**

**Note:** You can use pandas_profiling.ProfileReport(df) to get a detailled report on df (can be long to run depending on the isze of the data).

**We can also get a list of the columns names:**

**Set the number of rows diplayed by pandas to 15.**

___
## ***2. Subsetting***
We can subset a dataframe by label, by index or a combination of both.  
There are different ways to do it, using .loc, .iloc and also [ ]. See documentation:  
https://pandas.pydata.org/pandas-docs/stable/indexing.html

**Let's have a look at the 'Pclass' column:**

**Then at the 12th observation:**

**At the 'Name' of the last three observations:**

**And finally look at the 'Age' and 'Fare' of the 45th, the 1rst and the 8th observations:**

**!!WARNING!!**  Unlike Python and ``.iloc``, the end value in a range specified by ``.loc`` **includes** the last index specified.

___
## ***3. Let's clean here and there***

### **3.1 'Sex' column**

**Get the count of the different values of the 'Sex' column.**

**Labelise this column.**

### **3.2 'Embarked' column**

**Get the proportion of the different values of the 'Embarked' column.**

**April 10, 1912:**   
From 9:30 a.m. until 11:30 a.m., passengers board the ship. Then at noon, the Titanic leaves the dock at Southhampton for its maiden voyage.  
First stop is in Cherbourg, France, where the Titanic arrives at 6:30 p.m. and leaves at 8:10 p.m, heading to Queenstown, Ireland (now known as Cobh).  
It is carrying 2,229 passengers and crew.  
https://www.thoughtco.com/titanic-timeline-1779210

**Labelise this column.**

**Get the proportion of the different values of the 'embarked_lab' column, including the NaN values.**

**Replace the NaN values with 0.**

### **3.3 'Age' column**

**Plot an histogramme of the 'Age' colmun.**

**Find the number of observations with NaN in the 'Age' column.**

**We are going to use median of each Pclass. Let's create a pivot table with these medians.**

**Plot an histogramme of the 'Age' colmun.**

### **3.4 Sociological features**

**Create a new column with the number of other member of the family.**

**Create a new column combining the number of members in the family and the Pclass.**

### **3.5 'Cabin Number' column**

**Have a look at a sample of the 'Cabin' column.**

**Create a 'Deck' column with the first letter of the cabin (or NaN).**

**Create dummy columns for Deck A, F, G, T (and 'other' for the rest).**

**Concatenate the dummies with the data.**

## ***4. Dropping columns***

**Drop columns that will not be used anymore.**

## ***5. Reordering columns***
**We will reorder the the columns of this dataframe to have the target on the right.**  
**We can reindex them using a list.**

## ***6. Correlation***

## ***7. Holdout***

## ***8. Saving the dataframes as csv files***